@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content//piersic.jpg" align="middle" />
    <br>
    <br>
    <p class="lead">Bine v-am gasit pe <b>aplicatia web</b> web a cinematografului ce poarta numele celui mai mare actor pe care l-a dat orașul Cluj-Napoca - <b>Florin Piersic.</b></p>
    <p><a href="https://www.facebook.com/CinemaFlorinPiersic/" class="btn btn-primary btn-lg">Afla mai multe &raquo;</a></p>
</div>
